@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*Navigation Menu start CSS*/

/*whole body of navigation bar*/
nav{
    position: fixed;
    width: 100%;
    padding: 20px 0;
    font-family: 'Ubuntu',sans-serif;
}

nav .navbar{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .navbar .logo a{
    font-size: 40px;
    font-weight: 500;
    color: #4070f4;
    margin: 0 6px;
}
nav .navbar .menu{
    display: flex;
}

nav .navbar .menu li{
    margin: 0 8px;
    list-style: none;
}

.navbar .menu li a{
    font-size: 18px;
    color: #150050;
}
.navbar .media-icons a{
    font-size: 18px;
    margin: 0 6px;
    color: #4070F4;
}

/*Side navigation Menu Button*/
.container {
    position: absolute;
    align-items: flex-end;
    margin: 0 184px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28px;
    height: 53px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: all 0.4s linear;
    overflow: hidden;
}


@media (max-width: 760px){
    .container .menu {
        position: relative;
        height: 100%;
        width: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container.active {
        background-color: #fff;
    }
    
    .menu .line {
        position: absolute;
        height: 5px;
        width: 100%;
        border-radius: 6px;
        background-color: #2c3e50;
        transition: all 0.4s linear;
    }
    
    .menu .line.one {
        top: 15px;
    }
    
    .container.active .line.one {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        background-color: #2c3e50;
    }
    
    .menu .line.three {
        bottom: 15px;
    }
    
    .menu .line.two {
        left: 0;
        opacity: 1;
    }
    
    .container.active .line.two {
        left: -100%;
        opacity: 0;
    
    }
    
    .container.active .line.three {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
        background-color: #2c3e50;
    }
    nav .navbar .menu {
        position: absolute;
        left: 100%;
        top:0;
        height: 80vh;
        max-width: 210px;
        width: 100%;
        border-radius: 0 0 310px;
        background-color: #220d5c;
        flex-direction: column;
        align-items: center;
        padding: 25px;

    }

    nav .navbar.active .menu{
        left: 0;
    }

    .navbar .menu li a {
        display: block;
        margin: 18px 0;
        font-size: 23px;
        color: #fff;
    }
    .navbar .media-icons a {
        font-size: 30px;
    }
}